<% if (pics) { %>

<div class="card-columns">

<% for (let i = 0; i < pics.length; i++) { %>

<div class="card card-block"> 
  <img class="img-fluid cardImage" src="<%= pics[i].link %>" alt="image">
  <div class="cardText text-xs-center">
    <span><%= pics[i].text %></span>
  </div>
  <div class="footerCard">
      <img class="footerLogo" src="<%= pics[i].logoAuthor %>">
    <button class="addStar float-xs-right" id="vote<%= pics[i].idPic %>">
      <img src="./logo/star32.png"><%= pics[i].likes %>
    </button>
  </div>
  <div class="text-xs-center">
    <a class="text-xs-center" href="./myPics/delete/<%= pics[i].idPic %>">
        <button class="removeButton btn btn-danger">Delete</button>   
    </a>
  </div>
</div>

<% } %> 
 
</div>

<% } %>


