<!DOCTYPE html>
<html>

<head>

  <title>Pintelest Clone</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Freecodecamp proyecto backend de servidor para crear una aplicacion full stack que sea un clon de pinterest "
  />

  <!-- Maven Pro -->
  <link href="https://fonts.googleapis.com/css?family=Maven+Pro:500,900" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi"
    crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="./../pintelest.css">

  <!-- siteVerification -->
  <!--#include file="/freecodecamp/assets/templates/siteVerification.html" -->

</head>

<body>

<div>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container-fluid">
      <div class="nav navbar-nav float-xs-left">
        <% if (active === "home") { %>
          <a class="nav-item nav-link" href="./">PINTELEST CLONE</a>
        <% } else {%>
          <a class="nav-item nav-link" href="./..">PINTELEST CLONE</a>
        <% } %>
      </div>
   
      <div class="nav navbar-nav float-xs-right">
      <% if (active === "home") { %>
        <a class="nav-item nav-link active" href="./">Pics</a>
      <% } else {%>
        <a class="nav-item nav-link" href="./..">Pics</a>
      <% } %>

      <% if (user) { %>
        <% if (active === "myPics") { %>
          <a class="nav-item nav-link active" href="myPics">My Pics</a>
        <% } else {%>
          <a class="nav-item nav-link" href="./myPics">My Pics</a>
        <% } %>

        <% if (active === "addPic") { %>
          <a class="nav-item nav-link active" href="addPic">Add a Pic </a>
        <% } else {%>
          <a class="nav-item nav-link" href="./addPic">Add a Pic </a>
        <% } %>
        
        <% if (active === "profile") { %>
          <a class="nav-item nav-link active" href="profile">Profile</a>
        <% } else {%>
          <a class="nav-item nav-link" href="./profile">Profile</a>
        <% } %>
      <% } %>

      <% if (user) { %>
        <button id="tb" class="nav-item nav-link btn btn-info">
          <img src="./../logo/twitter.png" alt="Twitter Logo">
        <%= user.username %></button>
      <% } else {%>
        <button id="tb" class="nav-item nav-link btn btn-info">
          <img src="./../logo/twitter.png" alt="Twitter Logo">
        Login</button>
      <% } %>

      </div>
    </div>
  </nav>
</div>


<div class="content text-xs-center">
  <h2><%= pics[0].username %> PICS</h2>
</div>

<% if (pics) { %>

<div class="card-columns">

<% for (let i = 0; i < pics.length; i++) { %>

<!--
//<h2><span>HOLA <%= pics[i].idPic %></span></h2>
-->

<div class="card card-block"> 
  <img class="img-fluid cardImage" src="<%= pics[i].link %>" alt="image">
  <div class="cardText text-xs-center">
    <span><%= pics[i].text %></span>
  </div>
  <div class="footerCard">
    <a class="float-xs-left" href="./<%= pics[i].idTwitter || pics.id %>">
      <img class="footerLogo" src="<%= pics[i].logoAuthor %>">
    </a>
    <button class="addStar float-xs-right" id="vote<%= pics[i].idPic %>">
      <img src="./../logo/star32.png"><%= pics[i].likes %>
    </button>
  </div>
</div>

<% } %> 
 
</div>

<% } %>

<script src="./../pintelest.js"></script>

<% include ../partials/passVars %>

<% include ../partials/end %>
